html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #343a40;
}

.btn{
    font-size: 11px;
    font-weight: bold;
}

.btn-product{
    width: 111px !important;
    height: 60px !important;
}

.main-navbar {
    min-height: 60px;
}

.orders {
    min-height: 450px;
}


.maincart {
    height: 20px;
}

.tdid{
    font-size: 0px;
}

.tdmain{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px dotted black;
}

.tdprice{
    font-size: 14px;
    font-style: italic;
    border-bottom: 1px dotted black;
}

.navbar-custom{
    font-size: 16px;
    background-color: #f7f7f7;
}

.navbar-custom a{
    font-size: 16px;
    color: #333333;
    background-color: #f7f7f7;
    border-right: 1px solid #979797;
}

.footer a:link {
    color: #9a9da0; !important
    text-decoration: none;
}

.footer a:visited {
    color: #9a9da0; !important
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
    color: #ffffff;
}